.app {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
}

.auth-component {
  border: 1px solid #eeeeee;
  padding: 30px;
  border-radius: 10px;
}

.sidebar-component {
  min-width: 500px;
}

.item-component {
  width: 250px;
  margin: 10px;
}
