.app {
  width: 100vw;
  height: 100vh;
  min-width: 320px;
}

.auth-component {
  border: 1px solid #eeeeee;
  padding: 30px;
  border-radius: 10px;
}

.sidebar-component {
  min-width: 500px;
}

.item-component {
  width: 250px;
  margin: 10px;
}

.todo-page .item-component {
  width: 100%;
}

.loader-component {
  padding: 0.5rem 1.25rem;
}

.badge {
  display: none;
  cursor: pointer;
}

.alert {
  position: absolute;
  bottom: 0;
}

.list-group-item span {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eeeeee;
}

.list-group-item:hover .badge {
  display: inline-block;
}
